DATABASE_URL=postgresql://tcc:tcc@localhost:5432/tcc_agendamentos?schema=public
PORT=3000
WEB_ORIGIN=http://localhost:5173

JWT_ACCESS_SECRET=7zDoJHNzcKkLixIhEKHn9wtXb9WROpO5wlluhQBVzuQ
JWT_ACCESS_TTL=900